@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
 
}
*{
    margin: 0px;
    padding: 0px;
}

header nav{
    width: 100%;
    max-width: 1600px;
    height: 92px;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
     background-color: #1A0B2E;
}

nav ul{
    display: flex;
    gap:45px;
    align-items: center;
    justify-content: space-around;
    
}

nav ul li{
    list-style: none;
    

}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight:500;
    color: #FFFFFF;
    
   
}

.tech{
    color: #FFFFFF;
    font-size:45px;
  font-weight: bold;
    
}

.wave {
  background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
   -webkit-background-clip: text; 
    background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:45px;
  font-weight: bold;
  
}

header nav button
{
    height: 44px;
    width: 135px;
    display: flex;
    align-items: center;
    gap:7px;
    justify-content: center;
   
    padding: 16px 12px;
    border: none;
    border-radius: 32px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to top right,#F7E93F 0%, #FB09B4 50%, #9100F8 100%);
}
 .burger{
  display: none;
}

.banner{
    background:url('./assets/hero-bg.png');
     background-size: cover;
  background-position: center;
    max-width: 1600px;
    height: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.banner-img{
  position: relative;   
  width: 350px;         
  height: 350px;        
 margin-top: 110px;
  bottom: 100px;

}
.banner-img .circle{
  position: absolute;
  
  z-index: 1;
  width: 100%;  
  height: auto;
}
.banner-img .micro{
   position: absolute;
  top: 80px;     
  left: 115px;    
  z-index: 2;
 
  height: auto;
}

.banner-img .new{
   position: absolute;
    z-index: 3;
    left: 230px;
    height: 30px;
    width: 60px;
    background-color: #00FF88;
    padding: 8px 18px 6px 18px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 1000px;
    text-align: center;
}


.banner-text{
    height: 168px;
    width:34%;
    max-width: 550px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.banner-text h2{
    font-size: 60px;
    font-weight: bold;
    line-height: auto;
    color: #FFFFFF;
}
.banner-text p{
    font-size: 16px;
    font-weight: 400;
   
   color: rgba(255, 255, 255, 0.8);

}
.banner-text .btn{
    gap: 10px;
    display: flex;
}
.banner-text .btn1
{
    height: 44px;
    width: 201px;
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10000px;
    display: flex;
    align-items: center;
    justify-content: center;
     gap:10px;

}
.banner-text .btn2
{
    height: 44px;
    width: 147px;
    background-color: inherit;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;

}
.banner-text .btn2 p{
    color: #00FF88;
}

.podcast{
    max-width:1600px;
    background-color: #1A0B2E;
    display: flex;
    flex-direction: column;
    gap:80px;
    padding: 50px 200px;
}

.pod-text{
    max-width: 1200px;
    height: 148px;
    height: 22px;
    margin: 0 auto;
    text-align: center;
}

.pod-text h2{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.pod-text p{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 20px;
}

hr{
    width: 70%;
   max-width: 1200px;
   margin: 100px auto 0 auto;
    color: rgba(255, 255, 255, 0.1);
}

.pod-stat{
    
    max-width: 1200px;
    height: 94px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.pod-stat .stat{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pod-stat .stat  h3{
    font-weight: 900;
    font-size: 45px;
    color: #00FF88;
}
.pod-stat .stat  p{
    font-size: 16px;
    font-weight: 400;
     color: rgba(255, 255, 255, 0.8);
}
.tech-wave{
    padding: 200px 120px;
    background-color: #230E3D;
   

}

.grid{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(3,1fr) ;
    gap: 30px;
   
}
.grid h3{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 20px;
}
.grid p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
}

.tech-wave h2{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 25px;
    text-align: center;
}
.first{
    grid-row: span 2;
     
     background-color: #2e1054;
     padding: 110px 40px;
    border: none;
    border-radius: 40px;
    
    
     
}
.second,.third{
    grid-column: span 2;
    border: none;
    border-radius: 40px;
     background-color: #2e1054;
      padding: 110px 40px;
}

.forth{
    grid-column: span 2;
     border: none;
    border-radius: 40px;
     background-color: #2e1054;
      padding: 110px 40px;
}
.fifth{
    border: none;
    border-radius: 40px;
     grid-column: span 1;
      background-color: #2e1054;
       padding: 110px 40px;
}

.feature{
    
    background-color: #1A0B2E;
    padding:120px 200px
}
.card-con{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
   
}
.feature h2{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}
.card{
    height: 440px;
    width: 380px;
    background-color: #250D44;
    border: none;
    border-radius: 10px;
     padding: 5px;
     display: flex;
    flex-direction: column;
    
    
    gap: 20px;
    
    
}
.card h3{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    color:rgba(255, 255, 255, 0.6);
}
.card h4{
    color: #00FF88;
    display: flex;
    gap: 5px;
}
.host{
    background-color: #1A0B2E;
    padding: 120px 200px;
}
.host h2{
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}
.host-con{
  max-width: 1200px;
  padding: 40px;
  background-color: #351165;
  display: flex;
  margin: 0 auto;
  border: none;
  border-radius: 40px;
  margin-top: 30px;
  gap: 20px;
}

.icon-con{
    display: flex;
    gap: 20px;
}
.icon{
   
    height: 30px;
    width: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text h3{
    font-size: 32px;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}
.text p{
    font-size: 16px;
    font-weight: 400;
     color:rgba(255, 255, 255, 0.6);
     margin-bottom: 16px;

}




























@media screen and (max-width:576px) {
    .menu{
        display: none;
    }
    .burger{
        display: inline;
    }

    
  



.podcast{
    gap: 40px;
  padding: 5px;
  height: 575px;
}
.pod-text h2{
    font-size: 32px;
    font-weight: bold;
}
.pod-stat {
 
  
 
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 40px;
}
.pod-stat .stat h3 {
  
  font-size: 35px;
  
}

hr {
 margin: 140px auto 20px auto;
 width: 400px;
 
}
.grid{
   
    
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    
    gap: 15px;
   
}
.tech-wave{
    padding: 15px 15px;
   
   

}
.feature {
  
  padding: 30px 20px;
}
.feature h2 {
  font-size: 32px;
  
  margin-bottom: 24px;
}
.card-con{
    flex-direction: column;
}
.card{
    width:100%;
    
}
iframe{
    width: 100%;
}

.host{
    padding: 20px;
}
.host h2{
    font-size: 32px;
}
.host-con{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.icon-con{
    align-items: center;
    justify-content: center;
}

   
}
